extends layout

block content
  h1= title
  
  div(class="container-fluid")
        div(class="row")
            -
                let vehicles = results
            each v, index in vehicles 
                - let destination = `dispatch(\"/vehicles/update?id=${v._id}\")`
                div(class="row-sm-2", class="m-1") Item #{v.name} #{v.fuel} #{v.wheels}
                    button.btn(class="btn-primary ms-1", onclick= destination) Update
            script.
                function dispatch(path){
                    window.location.href=path
                }